.nav-link{
    padding: 0px 30px !important;
    color: #FFFFE8;
  }
  
  .navbar-brand{
    color: #FFFFE8;
    font-family: 'Zilla Slab', serif;
  }
  
  
  
  .ico{
    width: auto;
    height: auto;
    color: #FFFFE8 !important;
    padding-right: 10px;
  }
  
  .ico3{
    padding-left: 10px;
  }
  
  .navbar-nav{
    font-family: 'Nunito', sans-serif;
    margin: auto;
  }
  
  .navbar{
    background-color: #1B1B1B !important;
  
  }
  
  .navbar-brand:hover{
    color: #FFFFE8;
  }
  
  .navbar-nav a:hover{
    color: #27FCF8;
  }
  
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    border-style: none;
  }
  
  















.text{
    float: left;
}
.new {
    margin-left: 30px;
    margin-top: 10px;
    width: 900px;
}

 body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      align-items: center;
      margin: 0px 0px;
      margin-left: 60px;
      margin-top: 60px;
        background-color: #222224;
        color: white;

   }
   * {
      box-sizing: border-box;
   }

   .a {
    height: 500px;
   }
   
   .btn {
         border-color: black;
    background-color: #27FCF8;
    width: 150px;
    height: 35px;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer; 
   }
   .watch-one {
    width: 200px;
    height: 250px;
    margin: 10px;
   }
   .watch-two {
       width: 200px;
    height: 250px;
    margin: 10px;
   }
   .watch-three {
       width: 200px;
    height: 250px;
    margin: 10px;
   }
    
.wth {
        
        margin: 40px 20px;
}

.brand {
    align-items: center;
    width: 1000px;
    height: 200px;
    margin: 60px 90px;
}

.about {
    width:320px;
    margin-left: 100px;
}

.ab {
    float: left;
    align-items: center;
    margin: 30px 50px;
}

.abs {
    margin-left: 10px;
    align-items: center;
}

.y {
        text-align: justify;
        width: 500px;
}
.t {
    height: 450px;
}

.log {
    height: 450px;
}
.logic {
    height: 500px;
}

.lie {
    float: left;
    margin-top: 30px;
}
.rect {
    width: 250px;
    align-items: left;
    margin-left: 100px;
}
.l {
    margin-left: 150px;
}
.bq {
    float: left;
    margin-top: 90px;
}
.react {
    width: 400px;
    margin-left: 120px;
}
.ci {
    height: 200px;
    width: 130px;
}
.ro {
    height: 200px;
    width: 118.6px;
}
.fo {
    height: 200px;
    width: 118.6px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    text-align: center;
  }


.test {
    padding: 5% 10%;
    text-align: center;
    align-items: center;
    margin-top: 50px;

  }
  .ci {
    height: 200px;
    width: 130px;
  }
  
  .fo {
    height: 200px;
    width: 118.6px;
  }
  
  .ro {
    height: 150px;
    width: 118.6px;
  }
.k {
    text-align: center; 
}

.fa {
    width: 200px;
    padding: 0px;
}
.card {
   color: white;
   float: left;
   width: calc(25% - 20px);
   padding: 10px;
   border-radius: 10px;
   margin: 10px;
   align-items: center;
   text-align: center;
   height: 450px;
}
.card p {
   font-size: 18px;
   
}
.cardContainer:after {
   content: "";
   display: table;
   clear: both;
 
}
.cardContainer {
    margin-left: 180px;
}


#contact-us {
    padding: 40px 10px;
    align-items: center;
    text-align: center;
  }
  
  .co {
    padding: 30px 30px;
    align-items: center;
  }
  

   
@media screen and (max-width: 600px) {
      .text{
         width: 100%;
         margin-left: 0px;
         align-items: center;
      }
      .btn{
          width: 300px;
          
      }
      body{
          margin-left: 0%;
          margin-top: 70px;
      }
      .tex {
        width: 250px;
      }
      .brand {
          width: 10px;
          margin: 20px 20px 20px 0px;
      }
      .ka {
          width: 400px;
      }
      .ab {
          margin: 0px;
          margin-top: 60px;
          margin-left: 0px;
      }
      .y {
          width: 100%;
          padding: 10px;
      }
      .abs {
          margin: 0px;
          margin-left: 0px;
      }
      .about {
          width: 80%;
          margin-left: 0%;
      }
      
      .life {
          width: 100%;
          margin: 20px 0px;
      }
      .l {
        margin-left: 0px;
    } 
    .react {
        margin: 0px;
        margin-left: 0px;
        width: 70%;
    }
    .rect {
        margin-left: 0px;
        width: 70%;
    }
    
     .test {
        width: 100%;
     }
     h2 {
        width: 100%;
        margin: 30px 0px;
     }
     .carousel {
        width: 100%;
     }
     .card {
        width: 70%;
        margin-left: 50px;
        height: 600px;
        align-items: center;
     }
     .cardContainer {
         margin: 20px;
     }
     
     .fa{
         width: 300px;
     }
     .ha {
        order: 2;
     }
     .h {
        order: 1;
     }
     .co {
        padding: 30px 10px;
        align-items: center;
      }
}

@media screen and (max-width: 400px) {
    .brand {
        width: 100%;
    }
    .ka {
        width: 290px;
    }
    .fa {
        width: 200px;
    }
    .card {
        height: 500px;
    }
    .lock {
        width: 200px;
    }
}